body {
    width: 100%;
    height: 100vh;
    background-image: url(../img/マリオ.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



h2 {
    position: relative;
    text-align: center;
    border: 3px solid #000;
}

h2:before,
h2:after {
    position: absolute;
    content: '';
}

h2:before {
    top: 4px;
    left: 4px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    background: #f8f8f8;
}

h2 span {
    position: relative;
    display: block;
    padding: 2rem;
    letter-spacing: .05em;
    color: #fff;
    text-shadow: #000 2px 0, #000 -2px 0, #000 0 -2px, #000 0 2px, #000 2px 2px, #000 -2px 2px, #000 2px -2px, #000 -2px -2px, #000 1px 2px, #000 -1px 2px, #000 1px -2px, #000 -1px -2px, #000 2px 1px, #000 -2px 1px, #000 2px -1px, #000 -2px -1px, 4px 4px 0 #000, 0 4px 0 #000;
}

h2 span:before,
h2 span:after {
    position: absolute;
    left: 10px;
    width: calc(100% - 20px);
    height: 2px;
    content: '';
    background: #000;
}

h2 span:before {
    top: 15px;
}

h2 span:after {
    bottom: 15px;
}

/* 左画面 */
.balloon-012 {
    display: grid;
    gap: 1em 0;
    padding: 25px 15px;
    background-color: #769ece;
    border: 2px solid #000;
    margin-top: 1em;
}

.balloon-012__section {
    display: flex;
    align-items: center;
    gap: 0 15px;
}


.balloon-012__img {
    width: 2.7em;
    height: 2.7em;
    border-radius: 50%;
}

.balloon-012__p {
    display: inline-block;
    position: relative;
    max-width: 80%;
    margin: 0;
    padding: .4em .8em;
    border-radius: 20px;
    color: #333;
    font-size: .9em;
}

.balloon-012__p.left {
    background-color: #fff;
}

.balloon-012__p.right {
    background-color: #30e852;
    margin: 0 10px 0 auto;
}

.balloon-012__p::before {
    position: absolute;
    top: -15px;
    width: 20px;
    height: 30px;
    content: '';
}

.balloon-012__p.left::before {
    left: -10px;
    border-radius: 0 0 0 15px;
    box-shadow: -3px -15px 0 -7px white inset;
}

.balloon-012__p.right::before {
    right: -10px;
    border-radius: 0 0 15px 0;
    box-shadow: 3px -15px 0 -7px #30e852 inset;
}

/* 右画面 */
.box-019 {
    position: relative;
    margin-top: 1em;
    padding: 1.8em 1.5em 1em 1.5em;
    border: 2px solid #000;
    background-color: #fff;
}

.box-019 > div {
    position: absolute;
    top: -1.15em;
    left: -.5em;
    padding: .4em 1.4em;
    border-radius: 25px;
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
    font-size: .9em;
}


.box-019 p {
    margin: 0;
}