/* club1.html ここから↓ */
body{
    background-image: url(../img/ラーメン.JPG);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;

}

p {
    font-family: Meiryo, "Hiragino Kaku Gothic Pro W3", sans-serif;
    text-align: center;
    margin-top: 150px;
    color: #fff;
}

.creation h2 {
    text-decoration: underline;
    text-underline-offset: 7px;
    margin-top: 40px;
    margin-bottom: 5%;
    text-align: center;
    color: #000;
}

.carousel {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

.creation{
    padding-bottom: 8%;
}


.row h3 {
    text-decoration: underline;
    text-underline-offset: 7px;
    margin-top: 5%;
    text-align: center;
    color: #000;
}


.col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.container h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.col-lg-4 h2 {
    margin-top: 20px;
}

.col-lg-4 a {
    text-decoration: none;
}

.col-lg-4 a:link {
    color: #000;
}

.col-lg-4 a:visited {
    color: #000;
}

.img_pepple {
    margin-top: 30px;
}

.col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}
